<p-toast class="mobile-toast"></p-toast>
<div class="page-container">
  <header class="header">
    <h1>RedAds</h1>
  </header>

  <main class="main-content" *ngIf="!results_page">
    <h2 style="color: #ffffff">Pesquisar Nota Fiscal</h2>
    <form [formGroup]="entityForm" class="input-form">
      <div class="form-group">
        <label for="access_key" class="form-label">Chave de Acesso</label>
        <div class="input-group">
          <p-inputMask
            formControlName="access_key"
            mask="9999 9999 9999 9999 9999 9999 9999 9999 9999 9999 9999"
            placeholder="xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx"
            class="form-input"
          ></p-inputMask>
          <button type="button" class="camera-button" (click)="toggleTorch()">
            <i class="pi pi-camera"></i>
          </button>
        </div>
      </div>

      <button
        pButton
        type="button"
        label="Pesquisar Nota"
        pTooltip="Pesquisar Nota Fiscal"
        (click)="searchReceipt()"
        [disabled]="!entityForm.valid"
        class="submit-button"
      ></button>
    </form>
  </main>

  <main class="main-content" *ngIf="results_page">
    <h2 style="color: #ffffff">Pesquisar Nota Fiscal</h2>
    <div class="input-form">
      <div class="form-group">
        <label class="form-label" for="access_key">Chave de Acesso</label>
        <span for="access_key" style="font-size: 16px; color: #ffffff"
          >{{ receipt_access_key }}
        </span>
      </div>
      <div class="form-group">
        <div class="col-12 row">
          <div class="col-7">
            <label class="form-label" for="consumer_document">CPF</label>
            <span
              for="consumer_document"
              style="font-size: 16px; color: #ffffff"
            >
              {{
                (receipt_out.consumer_document | slice : 0 : 3) +
                  "." +
                  (receipt_out.consumer_document | slice : 3 : 6) +
                  "." +
                  (receipt_out.consumer_document | slice : 6 : 9) +
                  "-" +
                  (receipt_out.consumer_document | slice : 9 : 11)
              }}
            </span>
          </div>

          <div class="col-5">
            <label class="form-label" for="consumer_pix_type">Chave Pix</label>
            <span
              for="consumer_pix_type"
              style="font-size: 16px; color: #ffffff"
            >
              {{ getPixCodeTypeLabel(receipt_out.consumer_pix_type) }}
            </span>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="receipt_out.consumer_pix_type === 'EMAIL'">
        <label class="form-label" for="consumer_pix_code" style="color: #ffffff"
          >Email</label
        >
        <span style="font-size: 16px; color: #ffffff" for="consumer_pix_code"
          >{{ receipt_out.consumer_pix_code }}
        </span>
      </div>
      <div
        class="form-group"
        *ngIf="receipt_out.consumer_pix_type === 'CELLPHONE'"
      >
        <label class="form-label" for="consumer_pix_code" style="color: #e0e0e0"
          ><b>Celular</b></label
        >
        <span style="font-size: 16px; color: #ffffff" for="consumer_pix_code"
          >{{ receipt_out.consumer_pix_code }}
        </span>
      </div>
      <div class="form-group" *ngIf="receipt_out.emission_date">
        <div class="col-12 row">
          <div class="col-7">
            <label class="form-label" for="emission_date" style="color: #e0e0e0"
              >Data de Emissão</label
            >
            <span
              style="font-size: 16px; color: #ffffff"
              for="consumer_pix_code"
              >{{
                receipt_out.emission_date
                  ? (receipt_out.emission_date | date : "dd/MM/yyyy HH:mm:ss")
                  : "------"
              }}
            </span>
          </div>
          <div class="col-5">
            <label class="form-label" for="receipt_value" style="color: #e0e0e0"
              >Valor Nota</label
            >
            <span style="font-size: 16px; color: #ffffff" for="receipt_value"
              >{{
                receipt_out.receipt_value
                  ? (receipt_out.receipt_value | currency : "BRL")
                  : "------"
              }}
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" style="color: #e0e0e0">Influenciador</label>
        <span style="font-size: 16px; color: #ffffff" for="influencer_name">
          {{ receipt_out.influencer_name }}</span
        >
      </div>
      <div class="form-group">
        <label class="form-label" style="color: #e0e0e0">Lojista</label>
        <span style="font-size: 16px; color: #ffffff" for="seller">{{
          receipt_out.seller_name
        }}</span>
      </div>
      <div class="form-group">
        <label class="form-label" style="color: #e0e0e0">Loja</label>
        <span style="font-size: 16px; color: #ffffff" for="store_name"
          >{{ receipt_out.store_name }}
        </span>
      </div>
      <div class="form-group">
        <label class="form-label" style="color: #e0e0e0"
          ><b>Campanhas</b></label
        >
        <div *ngFor="let campaign of receipt_out.list_campaigns_names">
          <span style="font-size: 16px; color: #ffffff">
            •{{ campaign[0] }} => {{ getReceiptStatus(campaign[2]) }}
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Créditos:
            {{ campaign[3] ? (campaign[3] | currency : "BRL") : "R$0,00"
            }}<br />
          </span>
          <br />
        </div>
      </div>
      <button
        pButton
        label="Pesquisar Outra Nota"
        type="button"
        pTooltip="Pesquisar Outra Nota Fiscal"
        (click)="
          results_page = false; this.entityForm.patchValue({ access_key: '' })
        "
        class="submit-button"
      ></button>
    </div>
    <br />
  </main>

  <div
    class="scanner-container"
    *ngIf="torchEnabled"
    tabindex="0"
    (focusout)="torchEnabled = false"
  >
    <button
      class="close-scanner-button"
      (click)="torchEnabled = false"
      style="position: absolute; right: 0px; top: -30px; border-radius: 4px"
    >
      <i class="pi pi-times"></i>
    </button>
    <zxing-scanner
      (scanSuccess)="handleQrCodeResult($event)"
      [formats]="formats"
      [torch]="torchEnabled"
      [tryHarder]="true"
      (focusout)="torchEnabled = false"
    >
    </zxing-scanner>
  </div>
</div>
