<p-toast class="custom-toast"></p-toast>
<p-confirmDialog class="custom-dialog"></p-confirmDialog>
<div class="container">
  <h3 class="">Grupos de Lojas</h3>
  <div class="topic-container">
    <div class="topic-title">
      <h5>Lista de Grupos de Lojas</h5>
    </div>
    <div class="btns-container-small">
      <!-- Read Mode -->
      <button
        pButton
        label="Novo"
        icon="pi pi-plus"
        class="w-110 btn-primary"
        type="button"
        [routerLink]="['/merchant/store-group-view', 'new']"
        pTooltip="Criar um grupo de loja novo"
      ></button>
    </div>
  </div>
  <hr />

  <!-- Inputs -->
  <div class="input-container">
    <!-- Main Inputs -->
    <div class="fields-container">
      <div class="table-list">
        <p-progressSpinner
          *ngIf="isLoading"
          styleClass="w-4rem h-4rem"
          strokeWidth="8"
          fill="var(--surface-ground)"
          animationDuration="0.8s"
          class="centralize"
        />
        <p-table
          *ngIf="!isLoading && storeGroups.length > 0; else emptyTable"
          [value]="itemsFiltrados"
          [globalFilterFields]="['name']"
          [sortField]="'name'"
          [sortOrder]="1"
          [paginator]="true"
          [rows]="25"
        >
          <ng-template pTemplate="caption">
            <div class="input-icon">
              <i class="pi pi-search ml-10"></i>
              <input
                pInputText
                id="globalFilter"
                name="globalFilter"
                type="text"
                [(ngModel)]="globalFilter"
                (input)="applyFilter()"
                placeholder="pesquisar Grupo de Loja"
              />
            </div>
            <button
              pButton
              type="button"
              pTooltip="Limpar o filtro"
              tooltipPosition="top"
              tooltipStyleClass="my-tooltip"
              label=""
              icon="pi pi-filter-slash"
              (click)="clearGlobalFilter()"
            ></button>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                Nome <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>Lojas</th>
              <th>Qnt</th>
              <div class="centralize w-60"><th>Ação</th></div>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-storeGroups let-i="rowIndex">
            <tr>
              <td>
                {{
                  storeGroups.name.length > 40
                    ? (storeGroups.name | slice : 0 : 40) + "..."
                    : storeGroups.name
                }}
              </td>
              <td>
                {{ getStoresString(storeGroups) }}
              </td>
              <td>
                <ng-container *ngIf="storeGroups?.stores; else noStores">
                  {{ storeGroups.stores.length }}
                </ng-container>
                <ng-template #noStores>0</ng-template>
              </td>
              <td>
                <div class="centralize w-60">
                  <button
                    pButton
                    pRipple
                    pTooltip="Ver o grupo de lojas"
                    tooltipPosition="top"
                    tooltipStyleClass="my-tooltip"
                    type="button"
                    icon="pi pi-eye"
                    class="p-button-rounded p-button-text p-button-success p-button-sm"
                    [routerLink]="[
                      '/merchant/store-group-view',
                      storeGroups.id
                    ]"
                  ></button>
                  <button
                    pButton
                    pRipple
                    pTooltip="Deletar o grupo de lojas"
                    tooltipPosition="top"
                    tooltipStyleClass="my-tooltip"
                    type="button"
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-text p-button-danger p-button-sm"
                    (click)="deleteComponent(i, $event)"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!-- Se tabela estiver vazia -->
      <ng-template #emptyTable>
        <div *ngIf="!isLoading">
          <div>
            <button
              pButton
              label="Novo Grupo de Loja"
              icon="pi pi-plus"
              class="btn-primary"
              type="button"
              [routerLink]="['/merchant/store-group-view', 'new']"
            ></button>
          </div>
          <span
            >Atenção, você ainda não possui nenhum grupo de loja, crie uma
            agora!</span
          >
        </div>
      </ng-template>
    </div>
  </div>
</div>
