.mobile-toast {
  .p-toast-message {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 95% !important;
    .p-toast-message-content {
      background-color: rgba(238, 238, 238, 0.2) !important;
      color: $hard-gray !important;
      padding: 6px;
      margin: 10px;
    }
  }
}
.page-container {
  background-color: rgb(185, 0, 0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  text-align: center;
  color: rgb(204, 204, 204);
  margin-bottom: 0px;

  h1 {
    font-size: 24px;
    margin: 0;
  }
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}

.influencer-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: #ffffff;

  .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 15px;
  }

  .influencer-name {
    font-size: 20px;
    margin: 5px 0;
  }

  .influencer-location {
    font-size: 16px;
    margin: 0;
  }

  .member-banner {
    margin: 10px 0px;
    background-color: white !important;
    width: 100vw;
    text-align: center;
    padding: 2px 0;
    p {
      color: #ff0000 !important;
      margin: 0;
      font-weight: bold;
      font-size: 13px;
    }
  }
}

.input-form {
  width: 100%;

  .form-group {
    margin-bottom: 5px;

    span {
      font-size: 16px;
      color: $hard-gray;
      font-weight: bold;
      margin-left: 6px;
    }
    .span-white {
      span {
        color: $white !important;
      }
    }
  }

  .form-label {
    color: #e0e0e0;
    display: block;
    font-size: 16px;
    margin: 0px;
  }

  .form-input {
    width: 100%;
    height: 44px;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
  }

  .input-group {
    display: flex;

    .form-input {
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      input {
        font-size: 10.5px !important;
        padding: 0px 10px;
        margin: 0px 0px 0px 0px;
        width: 100%;
        height: 40px;
        border-radius: 6px 0px 0px 6px;
      }
    }

    .cpf-input {
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      input {
        font-size: 16px !important;
        padding: 0px 10px;
        margin: 0px 0px 0px 0px;
        width: 100%;
        max-width: 150px;
        height: 40px;
      }
    }

    .chave-pix-dropdown {
      flex: 1;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      .p-dropdown {
        height: 40px;
      }
      span {
        font-size: 16px !important;
        padding: 0px 10px;
        height: 40px;
        display: flex;
        align-items: center;
      }
      .p-dropdown {
        ul {
          margin: 0px;
          padding: 0px;
          li {
            font-size: 16px !important;
            margin: 0px;
            padding: 0px;
          }
        }
      }
    }

    .email-input {
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      input {
        font-size: 14px !important;
        padding: 0px 10px;
        margin: 0px 0px 0px 0px;
        width: 100%;
        height: 40px;
      }
    }

    .phone-input {
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      input {
        font-size: 16px !important;
        padding: 0px 10px;
        margin: 0px 0px 0px 0px;
        width: 100%;
        max-width: 170px;
        height: 40px;
      }
    }

    .camera-button {
      width: 40px;
      height: 40px;
      background-color: #30313c;
      color: white;
      border: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .submit-button {
    width: 100%;
    height: 44px;
    background-color: #30313c !important;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .page-container {
    padding: 15px;
  }

  .main-content {
    max-width: 100%;
  }

  .influencer-profile {
    .profile-image {
      width: 100px;
      height: 100px;
    }

    .influencer-name {
      font-size: 18px;
    }

    .influencer-location {
      font-size: 14px;
    }
  }

  .input-form {
    .form-label {
      font-size: 14px;
    }

    .form-input {
      font-size: 14px;
      height: 40px;
    }

    .input-group {
      .camera-button {
        width: 40px;
        height: 40px;
      }
    }

    .submit-button {
      height: 40px;
      font-size: 16px;
    }
  }
}

.container-influencer-page {
  padding: 20px;
  max-width: 400px; // Limita a largura máxima do container
  margin: 0 auto; // Centraliza o conteúdo
}

.field-container {
  margin-bottom: 15px; // Adiciona espaço entre os campos
}

// Para o campo de CPF
.input-mask-field {
  .p-inputmask {
    height: 40px;
    line-height: 40px; // Isso ajuda a centralizar o texto verticalmente
  }
}

// Ajuste geral para todos os inputs, se necessário
.input-mask-field,
.dropdown-field,
.input-field {
  height: 40px;
}

// Ajuste para o botão da câmera, se necessário

.scanner-container {
  width: 75%;
  max-width: 450px !important;
  aspect-ratio: 1;
  position: fixed;
  top: 12.5%;
  left: 12.5%;
  border: 4px solid #000000;
  border-radius: 6px;
  overflow: hidden;

  .close-scanner-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    border-radius: 4px;
    background: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    &:hover {
      background: #f0f0f0;
    }

    i {
      font-size: 16px;
      color: #333;
    }
  }

  video {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    position: relative;
    transform: scale(2);
    transform-origin: center;
    object-fit: cover;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border: 2px solid #ff0000;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    aspect-ratio: 1;
    z-index: 900;
    pointer-events: none;
  }
}
