@import "variables";

.container-modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 30px;

  h4 {
    margin-left: 20px;
    margin-bottom: 20px;

    a {
      cursor: pointer;
      text-decoration: none;
      color: rgb(189, 0, 0);
    }
  }
  small {
    color: rgb(96, 96, 96);
    margin-top: 20px !important;
    a {
      color: $primary !important;
      font-weight: normal;
      cursor: pointer;
      text-decoration: none;
    }

    .footer {
      color: $medium-gray !important;
      font-weight: normal;
      cursor: pointer;
    }
  }

  // Cards
  .card-container {
    align-items: center;
    background-color: rgb(248, 250, 252);
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .p-card {
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      box-sizing: border-box;
      color: rgb(63, 66, 85);
      margin: 0px;
      padding: 20px 10px 20px 10px;
      width: 480px;
      height: 100%;
    }

    .p-card-content {
      padding: 0px;
      padding-top: 0px;
      margin: 0px;
      width: 100%;
    }

    h4 {
      margin: 0px;
    }

    label {
      font-size: small;
      margin-top: 25px;
      margin-bottom: 5px;
    }
    small {
      color: rgb(96, 96, 96);
      margin-top: 25px;
      margin-bottom: 5px;

      a {
        color: $primary;
        font-weight: normal;
        cursor: pointer;
        text-decoration: none;
      }
      a:disabled {
        color: $light-gray !important;
        cursor: not-allowed !important;
      }
    }

    input {
      width: 100%;
      height: 100%;
      &:focus {
        border-color: blue !important; // Replace with your desired color for focus
        box-shadow: 0 0 0 0.2rem rgba(blue, 0.25) !important; // Replace with your desired color for focus
      }
      .p-inputtext {
        width: 100%;
        height: 40px;
      }

      .p-inputmask {
        width: 100%;
        height: 40px;
      }
    }

    .p-button {
      width: 100%;
      color: $white;
      height: 46px;
      background-color: red;
      border-color: red;
      border-radius: 8px;
      margin-top: 25px;
    }

    .code-verification {
      .p-inputmask {
        font-size: 40px;
        letter-spacing: 13px;
        height: 80px;
        margin: 0px 0px 0px 0px;
        text-align: center;
      }
    }

    .warning_message {
      color: rgb(63, 66, 85);
      font-size: x-small;
      margin-bottom: 3px;
      margin-left: 10px;
      margin-top: 4px;
      .ban {
        color: red;
        font-size: 12px;
        margin-top: 5px;
      }

      .check {
        color: rgb(0, 255, 26);
        font-size: 12px;
        margin-top: 5px;
      }

      .warn {
        color: rgb(255, 208, 0);
        font-size: 12px;
        margin-top: 5px;
      }
    }
    .double-label {
      display: flex;
      justify-content: space-between;
      justify-items: flex-end;
    }
  }

  // Red Line Rigth => Style
  .modal-backgound {
    background: linear-gradient(to bottom, red, transparent 50%, red);
    background-size: 100% 200%;
    content: "";
    height: 100%;
    left: 20;
    position: fixed;
    top: 0;
    width: 20px;
  }
}
