<p-toast class="custom-toast"></p-toast>
<p-confirmDialog class="custom-dialog"></p-confirmDialog>
<div class="container">
  <h3 class="">Chaves Pix</h3>
  <div class="topic-container">
    <div class="topic-title">
      <h5>Lista de Chaves Pix</h5>
    </div>
    <div class="btns-container-small">
      <!-- Read Mode -->
      <button
        pButton
        label="Nova"
        icon="pi pi-plus"
        class="w-110 btn-primary"
        type="button"
        [routerLink]="['/payment/pix-key-view', 'new']"
        pTooltip="Criar uma chave pix nova"
      ></button>
    </div>
  </div>
  <hr />

  <!-- Inputs -->
  <div class="input-container">
    <!-- Main Inputs -->
    <div class="fields-container">
      <div class="table-list">
        <p-progressSpinner
          *ngIf="isLoading"
          styleClass="w-4rem h-4rem"
          strokeWidth="8"
          fill="var(--surface-ground)"
          animationDuration="0.8s"
          class="centralize"
        />
        <p-table
          *ngIf="components.length > 0; else emptyTable"
          [value]="itemsFiltrados"
          [globalFilterFields]="['pix_key', 'type', 'tax_id', 'name', 'status']"
          [sortField]="'pix_key'"
          [sortOrder]="1"
          [paginator]="true"
          [rows]="25"
        >
          <ng-template pTemplate="caption">
            <div class="input-icon">
              <i class="pi pi-search ml-10"></i>
              <input
                pInputText
                id="globalFilter"
                name="globalFilter"
                type="text"
                [(ngModel)]="globalFilter"
                (input)="applyFilter()"
                placeholder="pesquisar Chaves Pix"
              />
            </div>
            <button
              pButton
              type="button"
              pTooltip="Limpar o filtro"
              tooltipPosition="top"
              tooltipStyleClass="my-tooltip"
              label=""
              icon="pi pi-filter-slash"
              (click)="clearGlobalFilter()"
            ></button>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="pix_key">
                Chave <p-sortIcon field="pix_key"></p-sortIcon>
              </th>
              <th pSortableColumn="type">
                Tipo de Chave <p-sortIcon field="type"></p-sortIcon>
              </th>
              <th pSortableColumn="name">
                Nome Titular
                <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="tax_id">
                Documento <p-sortIcon field="tax_id"></p-sortIcon>
              </th>
              <th pSortableColumn="status_redred">
                Status <p-sortIcon field="status_redred"></p-sortIcon>
              </th>
              <div class="centralize w-60"><th>Ação</th></div>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-components let-i="rowIndex">
            <tr>
              <td>
                {{ formatCode(components.pix_key, components.type) }}
              </td>
              <td>
                {{ formatCodeType(components.type) }}
              </td>
              <td>
                {{
                  components.name.length > 30
                    ? (components.name | slice : 0 : 30) + "..."
                    : components.name
                }}
              </td>
              <td>{{ formatDocument(components.tax_id) }}</td>
              <td>
                <div class="centralize w-60">
                  <p-tag
                    *ngIf="components.status_redred == 'NEW'"
                    class="new"
                    value="Nova"
                  ></p-tag>
                  <p-tag
                    *ngIf="components.status_redred == 'ACTIVE'"
                    class="active"
                    value="Ativa"
                  ></p-tag>
                  <p-tag
                    *ngIf="components.status_redred == 'INACTIVE'"
                    class="inactive"
                    value="Inativa"
                  ></p-tag>
                </div>
              </td>
              <td>
                <div class="centralize w-60">
                  <button
                    pButton
                    pRipple
                    pTooltip="Deletar a Chave Pix"
                    tooltipPosition="top"
                    tooltipStyleClass="my-tooltip"
                    type="button"
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-text p-button-danger p-button-sm"
                    (click)="deleteComponent(i, $event)"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!-- Se tabela estiver vazia -->
      <ng-template #emptyTable>
        <div>
          <div>
            <button
              pButton
              label="Nova Chave Pix"
              icon="pi pi-plus"
              class="btn-primary"
              type="button"
              [routerLink]="['/payment/pix-key-view', 'new']"
            ></button>
          </div>
          <span
            >Atenção, você ainda não possui nenhuma chave pix, crie uma
            agora!</span
          >
        </div>
      </ng-template>
    </div>
  </div>
</div>
