<p-toast class="custom-toast"></p-toast>
<div class="container" style="padding: 0; max-width: 1100px !important">
  <h4 *ngIf="isNew" style="color: rgb(80, 80, 80)">Bem vindo ao RedAds!</h4>
  <h6 *ngIf="isNew" class="mb-30" style="color: rgb(80, 80, 80)">
    Crie o seu perfil de Influenciador para usar o sistema.
  </h6>
  <h3 class="">Perfil</h3>
  <div class="topic-container">
    <div class="topic-title">
      <h5 pTooltip="ID: {{ entity.id }} ">Influenciador</h5>
    </div>
    <div class="btns-container-medium">
      <!-- Read Mode -->
      <button
        *ngIf="!editMode"
        pButton
        label="Editar"
        icon="pi pi-pencil"
        iconPos="right"
        class="btn-secondary"
        style="width: 80px !important"
        type="button"
        (click)="edit()"
      ></button>
      <!-- Edit Mode -->
      <button
        *ngIf="editMode && !isNew"
        pButton
        label="Cancelar"
        class="btn-secondary"
        style="width: 80px !important"
        type="button"
        (click)="cancel()"
      ></button>
      <button
        *ngIf="editMode && !isNew"
        pButton
        label="Salvar"
        class="btn-primary"
        style="width: 80px !important"
        type="button"
        [disabled]="entityForm.pristine || entityForm.invalid"
        (click)="save()"
      ></button>
      <button
        *ngIf="editMode && isNew"
        pButton
        label="Criar"
        class="btn-primary"
        style="width: 80px !important"
        type="button"
        [disabled]="entityForm.pristine || entityForm.invalid"
        (click)="termsDialogCheckBoxVisible = true"
      ></button>
    </div>
  </div>
  <hr />

  <!-- Inputs -->
  <form enctype="multipart/form-data" [formGroup]="entityForm">
    <div class="input-container">
      <!-- Main Inputs -->
      <div class="fields-container">
        <div class="field-container">
          <label class="label-field" for="is_active">Status</label>
          <p-inputSwitch
            formControlName="is_active"
            class="inputSwitch-field"
            id="is_active"
            pTooltip="Status do influenciador, influenciadores inativos não podem receber convites de campanhas nem notas fiscais promocionais"
          ></p-inputSwitch>
          <label
            class="inputSwitch-label"
            *ngIf="
              (entityForm.get('is_active')?.valueChanges | async) === false
            "
            for="is_active"
            >Inativo</label
          >
          <label
            class="inputSwitch-label"
            *ngIf="(entityForm.get('is_active')?.valueChanges | async) === true"
            for="is_active"
            >Ativo</label
          >
        </div>
        <!-- <div *ngIf="!isNew" class="field-container">
          <label class="label-field" for="document">CNPJ</label>
          <span class="span-field">
            {{
              (entityForm.get("document")?.value?.substr(0, 2) || "") +
                "." +
                (entityForm.get("document")?.value?.substr(2, 3) || "") +
                "." +
                (entityForm.get("document")?.value?.substr(5, 3) || "") +
                "/" +
                (entityForm.get("document")?.value?.substr(8, 4) || "") +
                "-" +
                (entityForm.get("document")?.value?.substr(12, 2) || "")
            }}
          </span>
        </div> -->
        <div class="field-container">
          <label class="label-field" for="name">Nome Público</label>
          <span *ngIf="!editMode" class="span-field">
            {{
              entityForm.get("name")?.value.length > 80
                ? (entityForm.get("name")?.value | slice : 0 : 80) + "..."
                : entityForm.get("name")?.value
            }}
          </span>
          <input
            pInputText
            *ngIf="editMode"
            formControlName="name"
            type="text"
            class="input-field"
            pTooltip="Este é o nome que será exibido para os consumidores, influenciadores e comerciantes"
          />
        </div>
        <div class="field-container">
          <label
            class="label-field"
            for="url"
            pTooltip="Url da página do Influenciador usada para recebimento de notas fiscais promocionais pelos consumidores"
            >Link da sua página</label
          >
          <span *ngIf="!editMode" class="span-field">
            {{
              entityForm.get("url")?.value.length > 80
                ? (entityForm.get("url")?.value | slice : 0 : 80) + "..."
                : entityForm.get("url")?.value
            }}
          </span>

          <div *ngIf="editMode" class="input-wrapper">
            <input
              pInputText
              formControlName="url"
              type="text"
              class="input-field"
              minlength="3"
              pTooltip="Defina um nickname único para sua URL (ex: 'nome-influncer'). Seu link será: https://redads.com.br/redeem/nome-influncer"
              placeholder="Digite a URL sem espaços (max. 3 caracteres)"
              (blur)="checkUrl()"
            />
            <p
              class="helper-text"
              style="font-size: x-small; color: #808080; margin-bottom: -10px"
              *ngIf="free_url && url_valid"
            >
              &nbsp;Mínimo de 3 caracteres, sem espaços ou caracteres especiais
            </p>
            <p
              class="helper-text"
              style="font-size: x-small; color: #ff0000; margin-bottom: -10px"
              *ngIf="!free_url"
            >
              <i class="pi pi-ban" style="color: #ff0000; font-size: 0.6rem"></i
              >&nbsp;A URL já esta sendo usado por outro influencer
            </p>
            <p
              class="helper-text"
              style="font-size: x-small; color: #ff0000; margin-bottom: -10px"
              *ngIf="free_url && !url_valid"
            >
              <i class="pi pi-ban" style="color: #ff0000; font-size: 0.6rem"></i
              >&nbsp;URL inválida: mín. 3 caracteres, sem espaços/caracteres
              especiais
            </p>
          </div>
        </div>
        <div class="field-container">
          <label class="label-field" for="cep">CEP</label>
          <span class="span-field" *ngIf="!editMode">{{
            entityForm.get("cep")?.value?.toString().slice(0, 5) +
              "-" +
              entityForm.get("cep")?.value?.toString().slice(5)
          }}</span>
          <p-inputMask
            *ngIf="editMode"
            formControlName="cep"
            mask="99999-999"
            placeholder="CEP"
            class="input-mask-field"
            (onComplete)="searchZipcode()"
            pTooltip="CEP do endereço do Influenciador"
          >
          </p-inputMask>
        </div>
        <div *ngIf="!isNew" class="field-container">
          <label class="label-field" for="city">Cidade</label>
          <span class="span-field">
            {{
              entityForm.get("city")?.value.length > 80
                ? (entityForm.get("city")?.value | slice : 0 : 80) + "..."
                : entityForm.get("city")?.value === ""
                ? "CEP Inválido"
                : entityForm.get("city")?.value
            }}
          </span>
        </div>
        <div class="field-container">
          <label class="label-field" for="birth_date">Data de Nascimento</label>
          <p-calendar
            inputId="birth_date"
            name="birth_date"
            formControlName="birth_date"
            placeholder="Início"
            [showIcon]="true"
            [touchUI]="true"
            [style]="
              !editMode ? { opacity: '0.6', 'pointer-events': 'none' } : {}
            "
            dateFormat="dd/mm/yy"
            pTooltip="Data de Nascimento do Influenciador"
          ></p-calendar>
        </div>
        <div class="field-container">
          <label class="label-field" for="gender">Gênero</label>
          <p-dropdown
            formControlName="gender"
            [options]="genderList"
            optionLabel="label"
            optionValue="value"
            placeholder="Selecione"
            class="dropdown-field"
            [readonly]="!editMode"
            [style]="
              !editMode ? { opacity: '0.6', 'pointer-events': 'none' } : {}
            "
            pTooltip="Gênero do Influenciador"
          ></p-dropdown>
        </div>
        <div class="field-container">
          <label class="label-field" for="type">Tipo</label>
          <p-dropdown
            formControlName="type"
            [options]="influencerTypesList"
            optionLabel="label"
            optionValue="value"
            placeholder="Selecione"
            class="dropdown-field"
            [readonly]="!editMode"
            pTooltip="Qual é o Tipo de Influenciador que você é?"
          ></p-dropdown>
        </div>
        <div class="field-container">
          <label class="label-field" for="commercial_category"
            >Categorias Comerciais</label
          >
          <p-scroller
            *ngIf="!editMode"
            [items]="entityForm.get('commercial_category')?.value"
            [itemSize]="scroolerItemsQuantity"
            class="scroller-field"
          >
            <ng-template pTemplate="item" let-item let-options="options">
              <div>
                {{ item.name }}
              </div>
            </ng-template>
          </p-scroller>
          <p-listbox
            *ngIf="editMode"
            [options]="listComercialCategories"
            formControlName="commercial_category"
            optionLabel="name"
            [multiple]="true"
            [metaKeySelection]="false"
            class="listbox-field"
            pTooltip="Quais são as categorias comerciais do Influenciador?"
          ></p-listbox>
        </div>
      </div>
      <!-- Divisor -->
      <div class="vertical-line"></div>
      <!-- Side Inputs -->
      <div class="side-container">
        <div class="fields-container">
          <div class="image-cropper-container">
            <label class="label-field" for="image">Imagem</label>
            <img
              *ngIf="!imageLoaded && !isNew && !isSemiNew && entity.image"
              [src]="
                entity.image.startsWith('http')
                  ? entity.image
                  : mediaUrl + entity.image
              "
              alt="Imagem do Influenciador"
              class="image-field"
              pTooltip="Imagem do Influenciador"
            />
            <div class="image-cropper-field" style="padding: 0px !important">
              <image-cropper
                *ngIf="imageLoaded"
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="1"
                [resizeToWidth]="600"
                format="png"
                (imageCropped)="onImageCropped($event)"
              ></image-cropper>

              <p *ngIf="fileName && editMode">
                <a href="javascript:void(0)" (click)="cancelImage()">X</a
                >{{ fileName }}
              </p>
              <input
                type="file"
                id="file"
                accept=".jpg, .jpeg, .png"
                (change)="onFileSelected($event)"
              />
              <label
                *ngIf="(!isNew && editMode) || imageLoaded"
                class="label-field"
                for="file"
                >Trocar</label
              >
              <label
                *ngIf="isNew && !imageLoaded"
                class="label-field w-120"
                for="file"
                >Adicionar</label
              >
            </div>
          </div>
          <div
            class="field-container"
            *ngIf="editMode || entityForm.get('instagram')?.value"
            style="padding: 0px 0px 0px 20px !important"
          >
            <label for="instagram">
              <i class="pi pi-instagram" pTooltip="Instagram">&nbsp;</i>
            </label>
            <span>
              <span *ngIf="!editMode" class="span-field">
                {{ entityForm.get("instagram")?.value }}
              </span>
              <input
                *ngIf="editMode"
                pInputText
                formControlName="instagram"
                type="text"
                class="input-field"
                pTooltip="Instagram do Influenciador"
                tooltipPosition="left"
                tooltipStyleClass="my-tooltip"
                placeholder="Instagram"
              />
            </span>
          </div>
          <div
            class="field-container"
            *ngIf="editMode || entityForm.get('tiktok')?.value"
            style="padding: 0px 0px 0px 20px !important"
          >
            <label for="tiktok">
              <img
                src="assets/icons/tiktok.svg"
                alt="Tiktok"
                class="icon"
                pTooltip="Tiktok"
              />&nbsp;
            </label>
            <span>
              <span *ngIf="!editMode" class="span-field">
                {{ entityForm.get("tiktok")?.value }}
              </span>
              <input
                *ngIf="editMode"
                pInputText
                formControlName="tiktok"
                type="text"
                class="input-field"
                pTooltip="Tiktok do Influenciador"
                tooltipPosition="left"
                placeholder="Tiktok"
              />
            </span>
          </div>
          <div
            class="field-container"
            *ngIf="editMode || entityForm.get('youtube')?.value"
            style="padding: 0px 0px 0px 20px !important"
          >
            <label for="youtube">
              <i class="pi pi-youtube" pTooltip="Youtube">&nbsp;</i>
            </label>
            <span>
              <span *ngIf="!editMode" class="span-field">
                {{ entityForm.get("youtube")?.value }}
              </span>
              <input
                *ngIf="editMode"
                pInputText
                formControlName="youtube"
                type="text"
                class="input-field"
                pTooltip="Youtube do Influenciador"
                tooltipPosition="left"
                placeholder="Youtube"
              />
            </span>
          </div>
          <div
            class="field-container"
            *ngIf="editMode || entityForm.get('facebook')?.value"
            style="padding: 0px 0px 0px 20px !important"
          >
            <label for="facebook">
              <i class="pi pi-facebook" pTooltip="Facebook">&nbsp;</i>
            </label>
            <span>
              <span *ngIf="!editMode" class="span-field">
                {{ entityForm.get("facebook")?.value }}
              </span>
              <input
                *ngIf="editMode"
                pInputText
                formControlName="facebook"
                type="text"
                class="input-field"
                pTooltip="Facebook do Influenciador"
                tooltipPosition="left"
                placeholder="Facebook"
              />
            </span>
          </div>

          <div
            class="field-container"
            *ngIf="editMode || entityForm.get('twitter')?.value"
            style="padding: 0px 0px 0px 20px !important"
          >
            <label for="twitter">
              <img
                src="assets/icons/twitter-x.svg"
                alt="twitter"
                class="icon"
                pTooltip="X"
              />&nbsp;
            </label>
            <span>
              <span *ngIf="!editMode" class="span-field">
                {{ entityForm.get("twitter")?.value }}
              </span>
              <input
                *ngIf="editMode"
                pInputText
                formControlName="twitter"
                type="text"
                class="input-field"
                pTooltip="X do Influenciador"
                tooltipPosition="left"
                tooltipStyleClass="my-tooltip"
                placeholder="X"
              />
            </span>
          </div>

          <div
            class="field-container"
            *ngIf="editMode || entityForm.get('twitch')?.value"
            style="padding: 0px 0px 0px 20px !important"
          >
            <label for="twitch">
              <img
                src="assets/icons/twitch.svg"
                alt="twitch"
                class="icon"
                pTooltip="twitch"
              />&nbsp;
            </label>
            <span>
              <span *ngIf="!editMode" class="span-field">
                {{ entityForm.get("twitch")?.value }}
              </span>
              <input
                *ngIf="editMode"
                pInputText
                formControlName="twitch"
                type="text"
                class="input-field"
                pTooltip="Twitch do Influenciador"
                tooltipPosition="left"
                placeholder="Twitch"
              />
            </span>
          </div>
          <!-- <div
            class="field-container"
            *ngIf="editMode || entityForm.get('snapchat')?.value"
          >
            <label for="snapchat">
              <img
                src="assets/icons/snapchat.svg"
                alt="snapchat"
                class="icon"
                pTooltip="snapchat"
              />&nbsp;
            </label>
            <span>
              <span *ngIf="!editMode" class="span-field">
                {{ entityForm.get("snapchat")?.value }}
              </span>
              <input
                *ngIf="editMode"
                pInputText
                formControlName="snapchat"
                type="text"
                class="input-field"
                pTooltip="Snapchat do Influenciador"
                tooltipPosition="left"
                placeholder="Snapchat"
              />
            </span>
          </div>
          <div
            class="field-container"
            *ngIf="editMode || entityForm.get('website')?.value"
          >
            <label for="website">
              <img
                src="assets/icons/browser-1.svg"
                alt="website"
                class="icon"
                pTooltip="website"
              />&nbsp;
            </label>
            <span>
              <span *ngIf="!editMode" class="span-field">
                {{ entityForm.get("website")?.value }}
              </span>
              <input
                *ngIf="editMode"
                pInputText
                formControlName="website"
                type="text"
                class="input-field"
                pTooltip="Website do Influenciador"
                tooltipPosition="left"
                placeholder="Website"
              />
            </span>
          </div> -->
        </div>
      </div>
    </div>
  </form>
</div>

<p-dialog
  header="Termos e Condições"
  [(visible)]="termsDialogCheckBoxVisible"
  [modal]="true"
  [style]="{ width: '450px', maxWidth: '95%' }"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="entityForm">
    <div class="terms-container">
      <p-scrollPanel
        [style]="{
          width: '100%',
          height: '350px',
          border: '1px solid #ddd',
          overflowY: 'scroll'
        }"
        styleClass="custom"
      >
        <div class="terms-content" style="padding: 5px !important">
          <div [innerHTML]="termsContent"></div>
        </div>
      </p-scrollPanel>

      <div style="margin-top: 15px">
        <a
          href="https://s3.us-east-1.amazonaws.com/redads-sandbox.static/media/terms/influencer-terms.pdf"
          target="_blank"
          class="download-terms-link"
          style="color: red; text-decoration: none; font-size: 13px"
        >
          <i class="pi pi-file-pdf"></i>
          Abrir versão PDF dos termos e condições
        </a>
      </div>
      <div
        class="checkbox-container"
        style="margin-top: 15px; display: flex; align-items: center"
      >
        <p-checkbox
          formControlName="accept_terms"
          [binary]="true"
          inputId="acceptTermsDialog"
        ></p-checkbox>
        <label
          for="acceptTermsDialog"
          class="checkbox-label"
          style="margin-left: 8px"
        >
          Li e aceito os
          <a
            href="https://s3.us-east-1.amazonaws.com/redads-sandbox.static/media/terms/influencer-terms.pdf"
            target="_blank"
            style="text-decoration: underline; font-size: 14px"
          >
            termos de adesão
          </a>
        </label>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      label="Criar Perfil"
      (click)="acceptTermsCheckBox()"
      [disabled]="!entityForm.get('accept_terms')?.value"
      styleClass="p-button-danger"
      [style]="{
        'border-radius': '8px',
        width: '80%',
        display: 'block',
        margin: '0 auto'
      }"
    >
    </p-button>
  </ng-template>
</p-dialog>
