<p-toast class="custom-toast"></p-toast>

<div class="container-modal">
  <div>
    <div>
      <h4><a class="page-logo" routerLink="/login">Red Ads</a></h4>
    </div>

    <p-card class="card-container">
      <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="submit()"
        class="p-fluid"
      >
        <div formGroupName="step1" *ngIf="step === 1">
          <h4>Trocar Senha</h4>
          <div>
            <label for="document">Documento</label>
            <input
              pInputText
              id="document"
              formControlName="document"
              placeholder="CNPJ ou CPF"
              maxlength="14"
              pKeyFilter="int"
            />
            <div
              *ngIf="forgotPasswordForm.get('step1.document')?.errors?.['cpfCnpj']"
              class="warning_message"
            >
              CPF ou CNPJ inválido.
            </div>
          </div>
          <div>
            <label for="cellphone">Celular</label>
            <p-inputMask
              mask="(99) 99999-9999"
              id="cellphone"
              formControlName="cellphone"
              placeholder="(xx) xxxxx-xxxx"
            ></p-inputMask>
          </div>
          <div>
            <div>
              <label for="password">Senha</label>
            </div>
            <p-password
              formControlName="password"
              id="password"
              type="password"
              [feedback]="false"
              (onBlur)="onCheckConfirmPassword()"
            ></p-password>
            <div
              *ngIf="forgotPasswordForm.get('step1.password')?.errors?.['isLength']"
              class="warning_message"
            >
              <i class="pi pi-exclamation-triangle warn"></i>
              Conter pelo menos 10 caracteres.
            </div>
            <div
              *ngIf="forgotPasswordForm.get('step1.password')?.errors?.['passwordUpperCase']"
              class="warning_message"
            >
              <i
                class="pi pi-exclamation-triangle"
                style="
                  color: rgb(238, 179, 0);
                  font-size: 12px;
                  margin-top: 5px;
                "
              ></i>
              Conter pelo menos 1 letra maiúscula
            </div>
            <div
              *ngIf="forgotPasswordForm.get('step1.password')?.errors?.['passwordLowerCase']"
              class="warning_message"
            >
              <i class="pi pi-exclamation-triangle warn"></i>
              Conter pelo menos 1 letra minúscula
            </div>
            <div
              *ngIf="forgotPasswordForm.get('step1.password')?.errors?.['passwordNumeric']"
              class="warning_message"
            >
              <i class="pi pi-exclamation-triangle warn"></i>
              Conter pelo menos 1 número
            </div>
            <div
              *ngIf="forgotPasswordForm.get('step1.password')?.errors?.['passwordSpecial']"
              class="warning_message"
            >
              <i class="pi pi-exclamation-triangle warn"></i>
              Conter pelo menos 1 caractere especial
            </div>
          </div>
          <div class="modal-fields">
            <div class="modal-label">
              <label class="modal-label" for="confirm">Confirmar Senha</label>
            </div>
            <p-password
              formControlName="confirm"
              id="confirm"
              type="confirm"
              [feedback]="false"
              (onBlur)="onCheckConfirmPassword()"
            ></p-password>
            <div
              *ngIf="forgotPasswordForm.get('step1.confirm')?.invalid"
              class="warning_message"
            >
              <i class="pi pi-ban ban"></i>
              Senhas não conferem
            </div>
          </div>
          <div>
            <p-button label="Continuar" type="submit" class="wp-100"></p-button>
          </div>
        </div>
        <div formGroupName="step2" *ngIf="step === 2">
          <h4>Verificação de Segurança</h4>
          <div>
            <label>
              Para sua segurança, enviamos um código de verificação via SMS para
              o número
              {{ forgotPasswordForm.get("step1")?.value.cellphone }}. Por favor,
              insira o código de 6 dígitos abaixo.
            </label>
            <label for="code">Código</label>
            <br />
            <p-inputMask
              mask="*** - ***"
              placeholder="??? - ???"
              class="code-verification"
              id="code-verification"
              formControlName="code"
            ></p-inputMask>
          </div>
          <div>
            <p-button
              label="Enviar Código"
              type="submit"
              class="wp-100"
            ></p-button>
            <small>
              O código não chegou? &nbsp;
              <a
                *ngIf="isLinkDisabled"
                style="cursor: not-allowed; color: grey !important"
              >
                Reenviar SMS (
                {{ countdown }})
              </a>
              <a
                *ngIf="!isLinkDisabled"
                (click)="resendSMS()"
                style="cursor: pointer; color: red !important"
              >
                Reenviar SMS
              </a>
            </small>
          </div>
        </div>
      </form>
      <div class="mt-15" *ngIf="step == 1">
        <small>
          <a routerLink="/login">Voltar</a>
        </small>
      </div>
    </p-card>

    <div class="mt-15" *ngIf="step == 2">
      <small id="button_back">
        <a (click)="back()">Voltar</a>
      </small>
    </div>
    <div class="mt-30">
      <small>
        <a class="footer" routerLink="/forgot-password">© RedAds</a>
      </small>
      <small> &nbsp;&nbsp;&nbsp; </small>
      <small>
        <a class="footer" routerLink="/forgot-password">Contato</a>
      </small>
      <small> &nbsp;&nbsp;&nbsp; </small>
      <small>
        <a class="footer" routerLink="/forgot-password">Termos e Privacidade</a>
      </small>
    </div>
  </div>
</div>
