/* You can add global styles to this file, and also import other style files */
@import "./styles/gaps.scss";
@import "./styles/variables.scss";
@import "./styles/container-layout.scss";
@import "./styles/container.scss";
@import "./styles/container-modal.scss";
@import "./styles/container-influencer-page.scss";
@import "./styles/utils.scss";
@import "src/app/app.component.scss";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #626262;
  border-radius: 999px;
}

html,
body {
  margin-left: 0;
  padding: 0;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  fill: currentColor; /* Permite que a cor do ícone herde a cor do texto pai */
}
